/* GENERAL FORMATTING */
html,
head,
body,
#main-container {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.disco-emoji {
    font-size: 30px;
    margin-right: 5px;
    margin-top: 15px;
}

#content-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

/* NAVIGATION BAR & SOURCE LINK AT TOP RIGHT */
nav {
    padding: 1rem;
    border-bottom: 1px solid #000;
    display: flex;
    background-color: black;
}

.nav-links {
    flex-grow: 1;
    justify-content: end;
    display: flex;
}

.nav-link {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #333333;
    margin-top: 12px;
}

.nav-link:hover {
    text-decoration: underline;
    font-size: 15px;
    color: white;
}


/* MAP FORMATTING */
#map-container {
    height: 100%;
    flex-grow: 1;
}

/* must go after map-container */
.title {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: silver
}


/* POPUP FORMATTING */
.mapboxgl-popup {
    font-size: 10px !important;
    border-bottom-color: silver !important;
    z-index: 1000;
}

.mapboxgl-popup-content {
    padding: 5px !important;
    line-height: 7px !important;
    width: 310px !important;
    background-color: silver;
    color: #000;
}

/* popup arrow formatting */
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: silver;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: silver;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: silver;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: silver;
}


/* SIDEBAR FORMATTING */
#sidebar {
    width: 400px;
    padding: 1rem;
    font-size: 1rem;
    overflow-y: auto;
    box-sizing: border-box;
    background: #cccccc;
    position: relative;
}

#sidebar .sidebar-links {
    text-decoration: underline;
    color: black;
}

#sidebar .sidebar-links:hover {
    text-decoration: underline;
    color: white
}

@media only screen and (max-width: 800px) {
    #content-container {
        flex-direction: column-reverse;
    }

    #map-container {
        height: 60%;
        flex-shrink: 0;
    }

    #sidebar {
        width: 100%;
    }
}

/* COLLAPSIBLE FORMATTING */
/* style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #3a3b3c;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover,
.active .fa-caret-up,
.collapsible:hover .fa-caret-up {
    background-color: grey;
    color: #ffffff !important;
}

/* rotate Font Awsome Icon when collapsible is active*/
.active .fa-caret-up {
    transform: rotate(360deg) !important;
}

/* style the collapsible content. note: hidden by default */
.content {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* TABLE FORMATTING (WITHIN COLLAPSIBLE) */
.content table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid grey;
}

table,
th,
td {
    border-top: 1px solid silver !important;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #eee;
    font-size: 13px;
}

td {
    font-size: 10.5px;
}

.content table tbody tr:last-child {
    background-color: #fddc5c;
}


/* LEGEND FORMATTING */
.legend {
    position: absolute;
    bottom: 80px;
    padding: 10px;
    right: 15px;
    width: 260px;
    z-index: 1;
    line-height: 18px;
    margin-bottom: 12px;
    border-radius: 5px;
    font-size: 12px;
    color: white
}

.legend:before {
    content: "";
    background: silver;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
}

.legend:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.legend-key {
    display: flex;
    border-radius: 20%;
    line-height: 15px;
    margin-bottom: 10px;
}

.legend-key img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    flex: 0 0 auto;
}

.legend-key span {
    white-space: nowrap;
    /* prevent text from wrapping */
    overflow: hidden;
    /* hide any overflow */
    text-overflow: ellipsis;
    /* add ellipsis for overflow */
    flex: 1;
    /* allow text to take up remaining space */
}


/* MARKER FORMATTING */
.marker {
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


/* TOGGLE BUTTON FORMATTING */
#toggleButton {
    display: block;
    position: absolute;
    margin: 0px auto;
    width: 260px;
    height: 40px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    bottom: 40px;
    /* distance from bottom: helps place button directly under legend*/
    right: 15px;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:before {
    content: "";
    background: linear-gradient(45deg,
            gold,
            black,
            silver);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* MODAL FORMATTING */
.video-modal .modal-content {
    background-color: black;
    z-index: 1000;
    /* Change this color to your desired background color */
}

.video-modal {
    margin-bottom: 15px;
    width: 100%;
    /* Adjust the margin value as needed */
}

.video-container {
    display: flex;
    justify-content: center;
}