/* GENERAL FORMATTING */
html,
head,
body,
#main-container {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

nav {
    padding: 1rem;
    border-bottom: 1px solid #000;
    display: flex;
    background-color: black;
}

.disco-emoji {
    font-size: 30px;
    margin-right: 5px;
    margin-top: 15px;
}

#content-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}


/* MAP FORMATTING */
#map-container {
    height: 100%;
    flex-grow: 1;
}

/* must go after map-container */
.title {
    font-weight: 600;
    font-size: 30px;
    color: silver
}

@media only screen and (max-width: 800px) {
    #content-container {
        flex-direction: column-reverse;
    }

    #map-container {
        height: 60%;
        flex-shrink: 0;
    }

    #sidebar {
        width: 100%;
    }
}

.mapboxgl-popup {
    font-size: 12px;
}

.mapboxgl-popup-content {
    padding: 10px;
}


/* SIDEBAR FORMATTING */
#sidebar {
    position: absolute;
    top: 250px;
    left: 20px;
    z-index: 1;
    background: #ececec;
    border-radius: 10px;
    width: 348px;
    padding: 1rem;
    overflow-y: scroll;
    box-sizing: border-box;
}

#sidebar h1 {
    font-size: 24px
}

#sidebar p {
    font-size: 14px;
}

#sidebar .header {
    display: flex;
}

#sidebar .source-code-link {
    text-decoration: none;
    font-size: 10px;
    color: grey
}

#sidebar .source-code-link:hover {
    text-decoration: underline;
    font-size: 10px;
    color: black
}


/* LEGEND FORMATTING */
.legend {
    position: absolute;
    float: right;
    top: 73%;
    padding: 10px;
    bottom: 20 px;
    right: 15px;
    width: 238px;
    z-index: 1;
    line-height: 18px;
    margin-bottom: 12px;
    border-radius: 5px;
    font-size: 12px;
    color: white
}

.legend:before {
    content: "";
    background: silver;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
}

.legend:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

h3 {
    margin-top: 0;
}

.legend-key {
    display: flex;
    border-radius: 20%;
    line-height: 15px;
    margin-bottom: 10px;
}

.legend-key img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    flex: 0 0 auto;
}

.legend-key span {
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide any overflow */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow */
    flex: 1;
    /* Allow text to take up remaining space */
}


/* ICON MARKERS FORMATTING */
.marker {
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


/* BUTTON FORMATTING */
#toggleButton {
    display: block;
    position: fixed;
    margin: 0px auto;
    width: 250px;
    height: 40px;
    padding: 15px;
    border: none;
    font-size: 12px;
    text-align: center;
    z-index: 10000;
    bottom: 40px;
    /* distance from bottom: helps place button directly under sidebar*/
    right: 20px;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:before {
    content: "";
    background: linear-gradient(45deg,
            gold,
            black,
            silver);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}