/* GENERAL FORMATTING */
html,
head,
body,
#main-container {
    height: 100%;
    width: 100%;
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.disco-emoji {
    font-size: 30px;
    margin-right: 5px;
    margin-top: 15px;
}

#content-container {
    flex-grow: 1;
    display: flex;
    min-height: 0;
}

/* SOURCE LINK AT TOP RIGHT */
nav {
    padding: 1rem;
    border-bottom: 1px solid #000;
    display: flex;
    background-color: black;
}

.nav-links {
    flex-grow: 1;
    justify-content: end;
    display: flex;
}

.nav-link {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #333333;
    margin-top: 12px;
}
.nav-link:hover {
    text-decoration: underline;
    font-size: 15px;
    color: white;
}


/* MAP FORMATTING */
#map-container {
    height: 100%;
    flex-grow: 1;
}

/* must go after map-container */
.title {
    font-weight: 600;
    font-size: 30px;
    color: silver
}

@media only screen and (max-width: 800px) {
    #content-container {
        flex-direction: column-reverse;
    }

    #map-container {
        height: 60%;
        flex-shrink: 0;
    }

    #sidebar {
        width: 100%;
    }
}

.mapboxgl-popup {
    font-size: 12px;
    z-index: 1000000;
}

.mapboxgl-popup-content {
    padding: 10px;
    width: 250px;
    line-height: 7px;
}


/* SIDEBAR FORMATTING */
#sidebar {
    width: 400px;
    padding: 1rem;
    font-size: 1rem;
    overflow-y: scroll;
    box-sizing: border-box;
    background: #cccccc;
    position: relative;
}

#sidebar .sidebar-links {
    text-decoration: none;
    color: #ffffff;
}

#sidebar .sidebar-links:hover{
    text-decoration: underline;
    color: black
}

/* COLLAPSIBLE FORMATTING */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #a8a9ad;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: grey;
    color:#ffffff;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  /* TABLE FORMATTING (WITHIN COLLAPSIBLE) */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: silver;
    font-size: 13px;
}

td {
    font-size: 10.5px;
}


/* LEGEND FORMATTING */
.legend {
    position: absolute;
    float: right;
    top: 73%;
    padding: 10px;
    bottom: 20 px;
    right: 15px;
    width: 242px;
    z-index: 1;
    line-height: 18px;
    margin-bottom: 12px;
    border-radius: 5px;
    font-size: 12px;
    color: white
}

.legend:before {
    content: "";
    background: silver;
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
}

.legend:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

h3 {
    margin-top: 0;
    line-height: 10px;
}

.legend-key {
    display: flex;
    border-radius: 20%;
    line-height: 15px;
    margin-bottom: 10px;
}

.legend-key img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    flex: 0 0 auto;
}

.legend-key span {
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide any overflow */
    text-overflow: ellipsis;
    /* Add ellipsis for overflow */
    flex: 1;
    /* Allow text to take up remaining space */
}


/* ICON MARKERS FORMATTING */
.marker {
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}


/* BUTTON FORMATTING */
#toggleButton {
    display: block;
    position: fixed;
    margin: 0px auto;
    width: 260px;
    height: 40px;
    padding: 15px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    z-index: 10000;
    bottom: 40px;
    /* distance from bottom: helps place button directly under sidebar*/
    right: 15px;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:before {
    content: "";
    background: linear-gradient(45deg,
            gold,
            black,
            silver);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}